.referanslar1{
	display: block;
	margin: 30px auto;
	width: 70%;
	padding: 50px;
	height: auto;
	background-color: rgba(255,255,255, 0.3);
	border-radius: 50px;
}

.referanslar2{
	display: block;
	margin: 30px auto;
	width: 70%;
	padding: 50px;
	height: auto;
	background-color: rgba(255,255,255, 0.6);
	border-radius: 50px;
}

.referanslar1 p{
	font-size: 100px;
	color: white;
	text-shadow: 6px 4px black;
}

.referanslar2 ul li{
	list-style: none;
}

.referanslar2 ul li p{
	padding-left: 50px;
	text-align: left;
	font-size: 40px;
	color: black;
}

.referanslar2 ul li:hover{
	padding-left: 50px;
	text-transform: uppercase;
	text-shadow: 3px 2px blue;
}